@import url("https://use.typekit.net/jjt8tot.css");

:root {
    --white: #FFFFFF;
    --orange: #F3722C;
    --brown: #351303;
    --blue: #577590;
    --yellow: #F9C74F;
    --red: #F94144;

    --body-text: 2.25rem;
    --sub-title: 3.875rem;
    --merch-text: 2rem;
}

body {
    font-family: "omnes-semicond", sans-serif;
    background-color: #FAF3DD;
    margin: 0;
    background-image: url(/Assets/background-circles.svg);
    background-size: cover;
    background-position-y: -2.5%;
}

header {
    height: 100vh;
}


nav a {
    text-decoration: none;
    color: var(--white);
}

nav span a {
    color: var(--orange);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brown);
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

nav div a img {
    width: 81px;
}

.links {
    font-size: 1.375em;
    display: flex;
    gap: 20px;
}

.links a {
    font-weight: 700;
}

h1 {
    font-weight: 700;
    font-size: 5em;
    text-align: center;
    color: var(--orange);
    position: relative;

    margin-top: 10%;
}

h1 span{
    position: absolute;
    display: flex;
    color: transparent;
    -webkit-text-stroke: 1px var(--orange);
    left: 50%;
    transform: translate(-50%);
    top: -43%;
    font-size: 6rem;
}

header p {
    font-weight: 400;
    font-size: var(--body-text);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.join-now-btn a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    font-size: 1.5em;
    
    background-color: var(--brown);
    padding: 25px 130px;
    border-radius: 30px;
}

.join-now-btn {
    margin-top: 8%;
    text-align: center;
}

.line {
    height: 5px;
    background: var(--blue);
    border-radius: 15px;
}

#who-are-we {
    margin-left: 4%;
    margin-top: 9%;
}

h2 {
    margin: 0;
    font-size: var(--sub-title);
    color: var(--orange);
}

#who-are-we p {
    width: 80%;
    font-size: var(--body-text);
}

#who-are-we .line {
    width: 80%;
}

#how-does-work {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 20%;
}

#how-does-work img {
    width: 150%;
}

#how-does-work p {
    font-size: var(--body-text);
    font-weight: 200;
    width: 95%;
}

#how-does-work p span {
    font-weight: 700;
}

#how-does-work .information {
    margin-left: 22%;
}

#how-does-work .information .line {
    width: 95%;
}

#our-first-event {
    margin-top: 3%;
    margin-left: 2%;

    display: flex;
}

#our-first-event img {
    margin-top: -8%;
    width: 100%;
}

#our-first-event p {
    font-size: var(--body-text);
}

#our-first-event .section1 p {
    width: 70%;
}

#our-first-event .section2 {
    margin-top: 10%;
}

#our-first-event .section2 p {
    width: 90%;
}

#our-first-event .section1 .line {
    width: 70%;
}

#our-first-event .section2 .line {
    width: 90%;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;

    background: var(--yellow);
    border-radius: 30px;

    max-width: 300px;
    max-height: 355px;
    
    padding: 20px 10px;
}

.card p {
    font-weight: bold;
    font-size: var(--merch-text);

    color: var(--orange);

    margin-top: 0;
}

.card img {
    max-width: 233px;

    margin-left: auto;
    margin-right: auto;
}

.card a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;

    color: var(--white);

    background-color: var(--red);
    padding: 10px 50px;
    border-radius: 30px;

    max-width: 80%;
    margin-top: 5%;

    margin-left: auto;
    margin-right: auto;
}

#merch {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 52%;
}

#how-to-member {
    margin-left: 2%;
    margin-top: 7%;
}

#how-to-member p {  
    font-size: var(--body-text);
    max-width: 70%;
}

#how-to-member .line {
    max-width: 55%;
}

#join-form {
    display: flex;
    justify-content: space-between;

    align-items: center;

    margin-right: 15%;
    margin-left: 5%;
}

#join-form img {
    transform: scaleX(-1) rotate(-4deg);
    -webkit-transform: scaleX(-1) rotate(-4deg);
}

.txt-fields form {
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
    gap: 20px;
}

.name > div {
    display: flex;
    flex-direction: column;
}

.name input {
    width: 266px;
}

.txt-fields input {
    background-color: var(--blue);
    opacity: 70%;
    border: none;
    border-radius: 10px;
    height: 38px;
}

.txt-fields label {
    font-size: var(--merch-text);
    font-weight: 700;

    margin-top: 5%;
}

.txt-fields .submit-btn {
    margin-top: 5%;

    color: var(--white);
    font-size: 2.25em;
    font-weight: 700;

    background-color: var(--orange);
    height: 68px;
    border-radius: 25px;
}

.txt-fields .submit-btn:hover {
    cursor: pointer;
}

#stickers {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    height: 350px;
}

#stickers h2 {
    margin-left: 2%;
    margin-top: 2%;
    width: 100%;
}

#stickers p {
    margin: 2%;
    font-size: var(--body-text);
}

.stickers-btn {
    text-align: center;
}

.stickers-btn img {
    width: 70%;
}

#stickers .stickers-btn a {
    text-decoration: none;
    color: var(--white);

    font-weight: 700;
    font-size: 24px;

    background-color: var(--brown);

    padding: 10px 150px;
    border-radius: 30px;

    margin-top: 2%;
}

.footer {
    background-color: var(--brown);
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
}

.footer p {
    color: var(--white);
    font-size: 1.25em;
}

.footer h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--orange);
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.25em;
    margin-bottom: 15%;
}

.outro p {
    width: 60%;
}

.outro a {
    align-items: center;
    margin-left: 10%;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.copyright {
    color: var(--white);
    background-color: var(--orange);
    padding: 1px;
    font-size: 1.5em;
    text-align: center;
}