@import url("https://use.typekit.net/jjt8tot.css");

:root {
    --white: #FFFFFF;
    --orange: #F3722C;
    --brown: #351303;
    --blue: #577590;
    --yellow: #F9C74F;
    --red: #F94144;

    --body-text: 2.25rem;
    --sub-title: 3.875rem;
    --merch-text: 2rem;
}

body {
    font-family: "omnes-semicond", sans-serif;
    background-color: #FAF3DD;
    margin: 0;
    background-image: url(/Assets/background-circles.svg);
    background-size: cover;
    background-position-y: -2.5%;
}

header {
    height: 100vh;
}


nav a {
    text-decoration: none;
    color: var(--white);
}

nav span a {
    color: var(--orange);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brown);
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

nav div a img {
    width: 81px;
}

.hamburger {
    display: none;
}

.hamburger img {
    width: 24px;
}

.links {
    font-size: 1.375em;
    display: flex;
    gap: 20px;
}

.links a {
    font-weight: 700;
}

h1 {
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
    color: var(--orange);
    position: relative;

    margin-top: 10%;
}

h1 span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    color: transparent;
    -webkit-text-stroke: 1px var(--orange);

    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);

    font-size: 6rem;
    width: 100%;
}

.maskotte img {
    width: 15%;
    position: absolute;
    top: 10%;
    left: 2%;
}

header p {
    font-weight: 400;
    font-size: var(--body-text);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.join-now-btn a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    font-size: 1.5em;
    
    background-color: var(--brown);
    padding: 25px 130px;
    border-radius: 30px;
}

.join-now-btn {
    margin-top: 8%;
    text-align: center;
}

.line {
    height: 5px;
    background: var(--blue);
    border-radius: 15px;
}

#who-are-we {
    margin-left: 4%;
    margin-top: 9%;
}

h2 {
    margin: 0;
    font-size: var(--sub-title);
    color: var(--orange);
}

#who-are-we p {
    width: 80%;
    font-size: var(--body-text);
}

#who-are-we .line {
    width: 80%;
}

#how-does-work {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 20%;
}

#how-does-work p {
    font-size: var(--body-text);
    font-weight: 200;
    width: 95%;
}

#how-does-work p span {
    font-weight: 700;
}

#how-does-work .information {
    margin-left: 22%;
}

#how-does-work .information .line {
    width: 95%;
}

#our-first-event {
    margin-top: 3%;
    margin-left: 2%;

    display: flex;
}

#our-first-event img {
    margin-top: -8%;
    width: 100%;
}

#our-first-event p {
    font-size: var(--body-text);
}

#our-first-event .section1 p {
    width: 70%;
}

#our-first-event .section2 {
    margin-top: 10%;
}

#our-first-event .section2 p {
    width: 90%;
}

#our-first-event .section1 .line {
    width: 70%;
}

#our-first-event .section2 .line {
    width: 90%;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;

    background: var(--yellow);
    border-radius: 30px;

    max-width: 300px;
    height: 355px;

    padding: 20px 10px;
}

.card p {
    font-weight: bold;
    font-size: var(--merch-text);

    color: var(--orange);

    margin-top: 0;
}

.card img {
    max-width: 233px;

    margin-left: auto;
    margin-right: auto;
}

.card a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;

    color: var(--white);
    background-color: var(--red);
    padding: 10px 50px;
    border-radius: 30px;

    max-width: 80%;

    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

#merch {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 52%;
}

#how-to-member {
    margin-left: 2%;
    margin-top: 7%;
}

#how-to-member p {  
    font-size: var(--body-text);
    max-width: 70%;
}

#how-to-member .line {
    max-width: 55%;
}

#join-form {
    display: flex;
    justify-content: space-between;

    align-items: center;

    margin-right: 15%;
    margin-left: 5%;
}

#join-form img {
    transform: scaleX(-1) rotate(-4deg);
    -webkit-transform: scaleX(-1) rotate(-4deg);
}

.txt-fields form {
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
    gap: 20px;
}

.name > div {
    display: flex;
    flex-direction: column;
}

.name input {
    width: 266px;
}

.txt-fields input {
    background-color: var(--blue);
    opacity: 70%;
    border: none;
    border-radius: 10px;
    height: 38px;
}

.txt-fields label {
    font-size: var(--merch-text);
    font-weight: 700;

    margin-top: 5%;
}

.txt-fields .submit-btn {
    margin-top: 5%;

    opacity: 100%;

    color: var(--white);
    font-size: 2.25em;
    font-weight: 700;

    background-color: var(--orange);
    height: 68px;
    border-radius: 25px;
}

.txt-fields .submit-btn:hover {
    cursor: pointer;
}

#stickers {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    height: 350px;
}

#stickers h2 {
    margin-left: 2%;
    margin-top: 2%;
    width: 100%;
}

#stickers p {
    margin: 2%;
    font-size: var(--body-text);
}

.stickers-btn {
    text-align: center;
}

.stickers-btn img {
    width: 70%;
}

#stickers .stickers-btn a {
    text-decoration: none;
    color: var(--white);

    font-weight: 700;
    font-size: 24px;

    background-color: var(--brown);

    padding: 10px 150px;
    border-radius: 30px;

    margin-top: 2%;
}

.footer {
    background-color: var(--brown);
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
}

.footer p {
    color: var(--white);
    font-size: 1.25em;
}

.footer h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--orange);
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.25em;
    margin-bottom: 15%;
}

.outro p {
    width: 60%;
}

.outro a {
    align-items: center;
    margin-left: 10%;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.copyright {
    color: var(--white);
    background-color: var(--orange);
    padding: 1px;
    font-size: 1.5em;
    text-align: center;
}

@media (max-width: 800px) {
    body {
        background-image: url(/Assets/circles-tablet.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 9.8%;
    }

    .maskotte {
        display: none;
    }

    h1 {
        font-size: 4em;
    }

    h1 span {
        font-size: 5rem;
    }

    header p {
        font-size: 1.5em;
    }

    h2 {
        font-size: 3em;
    }

    #who-are-we p {
        font-size: 1.5em;
    }

    #how-does-work p {
        font-size: 1.5em;
    }

    #how-does-work img {
        width: 200%;
        margin-left: -20%;
    }

    #our-first-event {
        margin-top: 20%;
    }

    #our-first-event p {
        font-size: 1.5em;
    }

    #our-first-event .section2 {
        margin-top: 70%;
    }

    #our-first-event .section2 h2 {
        width: 130%;
    }

    #our-first-event .section2 .line {
        width: 115%;
    }

    #our-first-event .section2 p {
        width: 115%;
    }

    #our-first-event .section1 .line {
        width: 135%;
    }

    #our-first-event .section1 p {
        width: 135%;
    }

    #our-first-event img {
        height: 100%;
        width: 60%;
        margin-top: 0%;
        position: relative;
    }

    #merch {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .merch-title {
        margin-top: 10%;
    }

    #how-to-member .line {
        max-width: 95%;
    }

    #how-to-member p {
        font-size: 1.5em;
        max-width: 98%;
    }

    #join-form img {
        height: 100%;
        width: 60%;
        margin-top: -20%;
        margin-left: -5%;
    }

    .name input {
        width: 130px;
    }

    .txt-fields label {
        font-size: 1.5em;
    }

    #join-form {
        margin-bottom: 2%;
    }

    #stickers h2 {
        font-size: 2.25em;
    }

    #stickers p {
        font-size: 1.5em;
    }
    
    .stickers-btn img {
        width: 100%;
    }

    #stickers .stickers-btn a {
        padding: 10px 100px;
    }

    #stickers {
        height: 270px;
    }

    .footer {
        padding: 2% 2%;
    }

    .footer h2 {
        font-size: 2.25em;
    }

    .footer-links {
        margin-left: -45%;
    }

    .outro p {
        width: 40%;
    }

    .outro a {
    margin-left: 5%;
    }
}

@media (max-width: 400px) {
    .links a {
        display: none;
    }

    .links .join {
        display: inline;
    }

    .hamburger {
        display: flex;
        align-items: center;
    }

    nav div a img {
        width: 43px;
    }

    body {
        background-image: url(/Assets/circles-phone.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 9.8%;
    }

    .maskotte {
        display: none;
    }

    h1 {
        font-size: 2.25rem;
        margin-top: 20%;
    }

    h1 span {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.25em;
        margin-bottom: 30%;
        margin-top: 30%;
        width: 90%;
    }

    h2 {
        font-size: 2.25em;
    }

    #who-are-we p {
        font-size: 1.25em;
    }

    #how-does-work {
        margin-left: 4%;
    }

    #how-does-work .information {
        margin-left: 0%;
    }

    #how-does-work p {
        font-size: 1.25em;
    }

    
    #how-does-work img {
        display: none;
    }

    #how-does-work img {
        width: 200%;
        margin-left: -20%;
    }

    #our-first-event {
        margin-top: 20%;
    }

    #our-first-event p {
        font-size: 1.25em;
    }

    #our-first-event .section2 {
        margin-top: 30%;
    }

    #our-first-event .section2 h2 {
        width: 80%;
    }

    #our-first-event .section2 .line {
        width: 80%;
    }

    #our-first-event .section2 p {
        width: 72%;
    }

    #our-first-event .section1 .line {
        width: 90%;
    }

    #our-first-event .section1 p {
        width: 90%;
    }

    #our-first-event img {
        display: none;
    }

    #merch {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .merch-title {
        margin-top: 10%;
    }

    #how-to-member .line {
        max-width: 95%;
    }

    #how-to-member p {
        font-size: 1.25em;
        max-width: 95%;
    }

    #join-form {
        justify-content: center;

        align-items: center;

        margin-right: 0;
        margin-left: 0;
    }

    .txt-fields input {
        margin-top: 2%;
    }

    #join-form img {
        display: none;
    }

    .name input {
        width: 170px;
    }

    .txt-fields label {
        font-size: 1.25em;
        margin-top: 10%;
    }

    #join-form {
        margin-bottom: 2%;
    }

    #stickers h2 {
        width: 90%;
        font-size: 1.5em;
    }

    #stickers p {
        font-size: 1.25em;
        margin: 0;
        margin-left: 2%;
    }
    
    .stickers-btn img {
        width: 100%;
    }

    #stickers .stickers-btn a {
        padding: 10px 100px;
    }

    #stickers {
        height: 380px;
        flex-direction: column;
        justify-content: center;
    }

    .footer {
        padding: 2% 2%;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .footer h2 {
        font-size: 2.25em;
    }

    .footer-links {
        margin-left: -45%;
        margin-left: auto;
        margin-right: auto;
    }

    .contact {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

    .outro p {
        width: 100%;
    }

    .outro a {
    margin-left: 5%;
    }

    .copyright {
        font-size: 1.5em;
    }
}